body {
    background: white;
}

nav {

    display: grid;
    place-items: center;
    margin: auto;
}

img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.primera-card {
    width: 90%;
    height: auto;
    display: grid;
    place-items: center;
    margin: auto;
}

.imagen {
    display: flex;
    justify-content: flex-end;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.contenido {
    width: 90%;
    margin: auto;
    display: grid;
    justify-content: space-between;
    justify-items: center;
}



.contact {
    background-color: rgb(246, 241, 241);
    padding: 2%;
}

.Portfolio {
    width: 80%;
    margin: auto;
    display: grid;
    justify-content: space-between;
    justify-items: center;
}

.card {
    width: 100%;
    height: auto;
}

.carta {
    padding-top: 5%;
}

